*{
    margin: 0;
    padding: 0;
    
}

html{
    background-color: #dfe4ea;
}

i{
    margin-right:  5px;
}

.left-bar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: rgb(66,140,255);
    background: linear-gradient(0deg, rgba(66,140,255,1) 0%, rgba(9,132,227,1) 27%);
    box-shadow: 12px 1px 22px -10px rgba(0,0,0,0.55);
    -webkit-box-shadow: 12px 1px 22px -10px rgba(0,0,0,0.55);
    -moz-box-shadow: 12px 1px 22px -10px rgba(0,0,0,0.55);
}

/* @media only screen and (max-width: 768px) {
    .left-bar{
        position: fixed;
        height: 10%;
        width: 100%;
        bottom: 0;
        display: inline;
    }
  } */

  .logo{
      position: relative;
      width: 99%;
      height: 65px;
      background-color: transparent ; 

  }
  .logo-position{
    position: absolute;
    top: 35%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    
  }

  .left-bar-hr{
      background-color: white;
      width: 90%;
      position: relative;
      height: 3px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 1000px;
      opacity: 0.5;
  }

  .menu-itens{
	position: relative;
	width: 100%;
	left: 0;
	right: 0;
	margin-left: auto;
    margin-right: auto;
}
.menu-itens ul li:hover{
	background-color: rgba(255, 255, 255, 0.2) !important;
	transition: 0.2s;
}
.menu-itens ul li {
	position: relative;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 4px 15px;
	font-weight: 400;
	line-height: 44px;
	font-size: 15px;
	border-radius: 3px;
	font-family: 'Muli', sans-serif !important;

}

.itens-a{
	color: white;
	margin: 10px 15px;
	border-radius: 3px;
	text-transform: capitalize;
	font-size: 13px;
	list-style-type: none;
}
/*.active{
    background: #dfe4ea;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(0, 0, 0, 0.4);
	color: #000;
}*/

.container{
    position: relative;
    width: calc(100% - 250px);
    height: 100%;
    margin-left: 250px;
}

.container-type-small{
    position: relative;
    height: 250px;
    width: 350px;
    background-color: white;
    top: 50px;
    margin-left: 9.5%;
    margin-bottom: 5%;
    display: inline-flex;
    border-radius: 10px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    transition: 0.5s;
    opacity: 0.6;
    cursor: pointer;
}
.container-type-small:hover{
    opacity: 1;
}
@media only screen and (max-width: 1600px) {
    .container-type-small{
        margin-left: 6%;
    }
  } 
  @media only screen and (max-width: 1440px) {
    .container-type-small{
        margin-left: 3%;
    }
  } 

  @media only screen and (max-width: 1336px) {
    .container-type-small{
        margin-left: 12%;
    }
  } 

  .student-photo{
      position: absolute;
      height: 55%;
      width: 40%;
      left : 5px;
      top: 5px;
      border-radius:50%;
      /* box-shadow: 0 1px 4px 0 rgba(0,0,0,.14); */

  }
  .student-name{
      position: absolute;
      height: 29%;
      width: 55%;
      right: 5px;
      padding-left: 5px;
      font-weight: 400;
      font-family: 'Muli', sans-serif !important;
      font-size: 16px;
  }

  .name-design{
      position: absolute;
      top: 15px;
      text-align: center;
      word-break: break-all;
      padding-left: 5px;
      padding-right: 5px;
  }
  .student-bar-hr{
    position: absolute;
    background-color: black;
    width: 65%;
    height: 2px;
    left: 15%;
    border-radius: 1000px;
    opacity: 0.5;
    top: 75px;
    
}

.enrollment{
    position: absolute;
    top: 35% ;
    height: 29%;
    width: 55%;
    right: 5px;
    padding-left: 5px;
    font-weight: 400;
    font-family: 'Muli', sans-serif !important;
    font-size: 20px;
}
.enrollment-design{
    position: relative;
    top: 10px;
    text-align: center;
    word-break: break-all
}

.dislike{
    position: absolute;
    bottom: 0;
    height: 43%;
    width: 33%;
    left: 33%;
    z-index: 999;
}
.like{
    position: absolute;
    bottom: 0;
    height: 43%;
    width: 33%;
    z-index: 999;
}
.class{
        position: absolute;
        bottom: 0;
        height: 43%;
        width: 33%;
        left: 66%;
        z-index: 999;
}
.title-tabs{
    position: relative;
    top: 25px;
    text-align: center;
    font-weight: 400;
    font-family: 'Muli', sans-serif !important;
    font-size: 20px;
}
.horizontal-bar-class{
    position: absolute;
    bottom: 15px;
    height: 30%;
    width: 2px;
    background-color: black;
    border-radius: 50px;
    left: 33%;
}

.container-bar-hr{
    position: absolute;
    background-color: black;
    width: 95%;
    height: 2px;
    left: 2.5%;
    border-radius: 1000px;
    opacity: 0.5;
    bottom: 95px;
    
}
.number{
    position: relative;
    top: 30px;
    text-align: center;
    word-break: break-all;
    font-weight: 400;
    font-family: 'Muli', sans-serif !important;
    font-size: 23px;
}
.shadow-titles{
    position: absolute;
    left: 12px;
    width: 80%;
    height: 70%;
    bottom: 15px;
    border-radius: 15px;
    background: rgb(66,140,255);
    background: linear-gradient(0deg, rgba(66,140,255,1) 0%, rgba(9,132,227,1) 27%);
    opacity: 0.1;
    z-index: -1;

}

.more-plus{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    top: 65px;
    width: 100px;
    color: rgb(66,140,255);
    font-size: 100px;
    top:50%;
    transform: translateY(-50%);
}
