
/*Dente 11*/
.dente11[type=checkbox] {
    display:none;
}

.dente11[type=checkbox] + label{
    background-image: url('../img/dentes/11.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente11[type=checkbox]:checked + label{
    background-image: url('../img/dentes/11selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 12*/
.dente12[type=checkbox] {
    display:none;
}

.dente12[type=checkbox] + label{
    background-image: url('../img/dentes/12.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente12[type=checkbox]:checked + label{
    background-image: url('../img/dentes/12selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 13*/
.dente13[type=checkbox] {
    display:none;
}

.dente13[type=checkbox] + label{
    background-image: url('../img/dentes/13.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente13[type=checkbox]:checked + label{
    background-image: url('../img/dentes/13selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 14*/
.dente14[type=checkbox] {
    display:none;
}

.dente14[type=checkbox] + label{
    background-image: url('../img/dentes/14.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente14[type=checkbox]:checked + label{
    background-image: url('../img/dentes/14selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 15*/
.dente15[type=checkbox] {
    display:none;
}

.dente15[type=checkbox] + label{
    background-image: url('../img/dentes/15.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente15[type=checkbox]:checked + label{
    background-image: url('../img/dentes/15selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 16*/
.dente16[type=checkbox] {
    display:none;
}

.dente16[type=checkbox] + label{
    background-image: url('../img/dentes/16.fw.png');
    height: 110px;
    width: 62px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente16[type=checkbox]:checked + label{
    background-image: url('../img/dentes/16selected.fw.png');
    height: 110px;
    width: 62px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 17*/
.dente17[type=checkbox] {
    display:none;
}

.dente17[type=checkbox] + label{
    background-image: url('../img/dentes/17.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente17[type=checkbox]:checked + label{
    background-image: url('../img/dentes/17selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 18*/
.dente18[type=checkbox] {
    display:none;
}

.dente18[type=checkbox] + label{
    background-image: url('../img/dentes/18.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente18[type=checkbox]:checked + label{
    background-image: url('../img/dentes/18selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 21*/
.dente21[type=checkbox] {
    display:none;
}

.dente21[type=checkbox] + label{
    background-image: url('../img/dentes/21.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente21[type=checkbox]:checked + label{
    background-image: url('../img/dentes/21selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 22*/
.dente22[type=checkbox] {
    display:none;
}

.dente22[type=checkbox] + label{
    background-image: url('../img/dentes/22.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente22[type=checkbox]:checked + label{
    background-image: url('../img/dentes/22selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 23*/
.dente23[type=checkbox] {
    display:none;
}

.dente23[type=checkbox] + label{
    background-image: url('../img/dentes/23.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente23[type=checkbox]:checked + label{
    background-image: url('../img/dentes/23selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 24*/
.dente24[type=checkbox] {
    display:none;
}

.dente24[type=checkbox] + label{
    background-image: url('../img/dentes/24.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente24[type=checkbox]:checked + label{
    background-image: url('../img/dentes/24selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 25*/
.dente25[type=checkbox] {
    display:none;
}

.dente25[type=checkbox] + label{
    background-image: url('../img/dentes/25.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente25[type=checkbox]:checked + label{
    background-image: url('../img/dentes/25selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 26*/
.dente26[type=checkbox] {
    display:none;
}

.dente26[type=checkbox] + label{
    background-image: url('../img/dentes/26.fw.png');
    height: 110px;
    width: 62px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente26[type=checkbox]:checked + label{
    background-image: url('../img/dentes/26selected.fw.png');
    height: 110px;
    width: 62px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 27*/
.dente27[type=checkbox] {
    display:none;
}

.dente27[type=checkbox] + label{
    background-image: url('../img/dentes/27.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente27[type=checkbox]:checked + label{
    background-image: url('../img/dentes/27selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 28*/
.dente28[type=checkbox] {
    display:none;
}

.dente28[type=checkbox] + label{
    background-image: url('../img/dentes/28.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente28[type=checkbox]:checked + label{
    background-image: url('../img/dentes/28selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 31*/
.dente31[type=checkbox] {
    display:none;
}

.dente31[type=checkbox] + label{
    background-image: url('../img/dentes/31.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente31[type=checkbox]:checked + label{
    background-image: url('../img/dentes/31selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 32*/
.dente32[type=checkbox] {
    display:none;
}

.dente32[type=checkbox] + label{
    background-image: url('../img/dentes/32.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente32[type=checkbox]:checked + label{
    background-image: url('../img/dentes/32selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 33*/
.dente33[type=checkbox] {
    display:none;
}

.dente33[type=checkbox] + label{
    background-image: url('../img/dentes/33.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente33[type=checkbox]:checked + label{
    background-image: url('../img/dentes/33selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 34*/
.dente34[type=checkbox] {
    display:none;
}

.dente34[type=checkbox] + label{
    background-image: url('../img/dentes/34.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente34[type=checkbox]:checked + label{
    background-image: url('../img/dentes/34selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 35*/
.dente35[type=checkbox] {
    display:none;
}

.dente35[type=checkbox] + label{
    background-image: url('../img/dentes/35.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente35[type=checkbox]:checked + label{
    background-image: url('../img/dentes/35selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 36*/
.dente36[type=checkbox] {
    display:none;
}

.dente36[type=checkbox] + label{
    background-image: url('../img/dentes/36.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente36[type=checkbox]:checked + label{
    background-image: url('../img/dentes/36selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 37*/
.dente37[type=checkbox] {
    display:none;
}

.dente37[type=checkbox] + label{
    background-image: url('../img/dentes/37.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente37[type=checkbox]:checked + label{
    background-image: url('../img/dentes/37selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 38*/
.dente38[type=checkbox] {
    display:none;
}

.dente38[type=checkbox] + label{
    background-image: url('../img/dentes/38.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente38[type=checkbox]:checked + label{
    background-image: url('../img/dentes/38selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 41*/
.dente41[type=checkbox] {
    display:none;
}

.dente41[type=checkbox] + label{
    background-image: url('../img/dentes/41.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente41[type=checkbox]:checked + label{
    background-image: url('../img/dentes/41selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 42*/
.dente42[type=checkbox] {
    display:none;
}

.dente42[type=checkbox] + label{
    background-image: url('../img/dentes/42.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente42[type=checkbox]:checked + label{
    background-image: url('../img/dentes/42selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 43*/
.dente43[type=checkbox] {
    display:none;
}

.dente43[type=checkbox] + label{
    background-image: url('../img/dentes/43.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente43[type=checkbox]:checked + label{
    background-image: url('../img/dentes/43selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 44*/
.dente44[type=checkbox] {
    display:none;
}

.dente44[type=checkbox] + label{
    background-image: url('../img/dentes/44.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente44[type=checkbox]:checked + label{
    background-image: url('../img/dentes/44selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 45*/
.dente45[type=checkbox] {
    display:none;
}

.dente45[type=checkbox] + label{
    background-image: url('../img/dentes/45.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente45[type=checkbox]:checked + label{
    background-image: url('../img/dentes/45selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 46*/
.dente46[type=checkbox] {
    display:none;
}

.dente46[type=checkbox] + label{
    background-image: url('../img/dentes/46.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente46[type=checkbox]:checked + label{
    background-image: url('../img/dentes/46selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 47*/
.dente47[type=checkbox] {
    display:none;
}

.dente47[type=checkbox] + label{
    background-image: url('../img/dentes/47.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente47[type=checkbox]:checked + label{
    background-image: url('../img/dentes/47selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}


/*Dente 48*/
.dente48[type=checkbox] {
    display:none;
}

.dente48[type=checkbox] + label{
    background-image: url('../img/dentes/48.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.dente48[type=checkbox]:checked + label{
    background-image: url('../img/dentes/48selected.fw.png');
    height: 110px;
    width: 52px;
    display:inline-block;
    padding: 0 0 0 0px;
}