.colunadente {
	text-align: center;
}

.card-header{
	background-color:#4b678e; 
	text-align: center;
	color: white;
}

.linkaccordion{
	color: white;
	text-decoration: none; 
}

.linkaccordion:hover{
	color: white;
	text-decoration: none; 
}

.radiogenero{
	padding-left: 16px;
}

.corprontuario{
	color: white !important;
}

.corbusca{
	color: white !important;
}

.logo-clinic{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    top: 15px;
}

.name-clinic{
	position: absolute;
	height: 50px;
	width: 80%;
	bottom: 45px;
	left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    opacity: 0.8;
}

.teste-close{
	position: absolute;
	height: 20px;
	width: 20px;
	right: 0;
	margin: 20px;
	border-radius: 100px;
}
